.about {
    position: relative;
    background: url('../img/Bg_About.png') no-repeat;
    background-position: center bottom;
    background-attachment: local;
    width: 100%;
    height: 1000px;
    background-size: cover;
}

.about #about-up-heading{
    padding-left: 127px;
}

.about #about-heading{
    padding-left: 127px;
    margin-bottom: 15px;
}

.about-parent {
    display: flex;
    flex-direction: row;
    position: absolute;
    top: 10%;
    width: 100%;
}

.row-left {
    width: 50%;
    z-index: 1;
}

.row-right {
    width: 50%;
    z-index: 1;
    padding-top: 100px;
    padding-right: 10px;
}

.wrapper .parent-tab {
    border-radius: 3px;
    padding-bottom: 15px;
}

.wrapper .parent-tab label {
    display: flex;
    align-items: left;
    cursor: pointer;
    border-radius: 3px;
    position: relative;
    z-index: 2;
    transition: all 0.3s ease;
}

.wrapper .parent-tab .icon-container {
    width: 100px;
    height: 100px;
    margin-right: 20px;
}

#tab-1:not(:checked) + label img{
    content: url('../img/Icon_Batleground.png');
}

#tab-2:not(:checked) + label img{
    content: url('../img/Icon_Play.png');
}

#tab-3:not(:checked) + label img{
    content: url('../img/Icon_Tech.png');
}

#tab-4:not(:checked) + label img{
    content: url('../img/Icon_Immutable.png');
}

.wrapper .parent-tab #tab-icon-1:hover {
    content: url('../img/Icon_Batleground_On.png');
}

.wrapper .parent-tab #tab-icon-2:hover {
    content: url('../img/Icon_Play_On.png');
}

.wrapper .parent-tab #tab-icon-3:hover {
    content: url('../img/Icon_Tech_On.png');
}

.wrapper .parent-tab #tab-icon-4:hover {
    content: url('../img/Icon_Immutable_On.png');
}

.wrapper .parent-tab label :hover {
    color: gold;
}

.parent-tab input:checked~label {
    border-radius: 3px 3px 0 0;
}

#tab-1:checked + label img{
    content: url('../img/Icon_Batleground_On.png');
}

#tab-2:checked + label img{
    content: url('../img/Icon_Play_On.png');
}

#tab-3:checked + label img{
    content: url('../img/Icon_Tech_On.png');
}

#tab-4:checked + label img{
    content: url('../img/Icon_Immutable_On.png');
}

.wrapper label span {
    color: #fff;
    font-size: 35px;
    font-weight: 500;
    margin-top:20px;
}

.wrapper .parent-tab .content {
    max-height: 0px;
    overflow: hidden;
    background: transparent;
    border-radius: 0 0 3px 3px;
    font-size: 20px;
    color: white;
    padding-left: 135px;
}

.parent-tab input:checked~.content {
    max-height: 100vh;
}

.parent-tab input:checked +label span {
    color: gold;
}

.parent-tab .content p {
    padding: 15px 20px;
    font-size: 20px;
}

.parent-tab .content ul {
    margin-bottom: 0;
}

input[type="radio"],
input[type="checkbox"] {
    display: none;
}

.carousel-item {
    transition: transform 0.5s ease-in-out;
}

.carousel-fade .active.carousel-item-start,
.carousel-fade .active.carousel-item-end {
    transition: opacity 0.5s ease-out;
}

.carousel-item img{
    width: 718px;
    height: auto;
    margin: auto;
    display: block;
}

#about-wrapper{
    max-width: 700px;
    height: auto;
    margin: auto;
    display: block;
    padding-top: 98px;
}

#about-video{
    height: auto;
    vertical-align: middle;
    width: 100%;
}

@media (max-width: 1600px)
and (orientation: landscape){

    .carousel-item img{
        width: 600px;
        height: auto;
        margin: auto;
        display: block;
    }
    
    #about-wrapper{
        max-width: 582px;
        height: auto;
        margin: auto;
        display: block;
        padding-top: 80px;
    }

    .row-right {
        padding-top: 25px;
    }
}

@media (max-width: 1400px)
and (orientation: landscape){

    .about {
        /* position: relative;
        background: url('../img/Bg_About.png') no-repeat right;
        background-attachment: local;
        width: 100%; */
        height: 800px;
    }

    .carousel-item img{
        width: 500px;
        height: auto;
        margin: auto;
        display: block;
    }
    
    #about-wrapper{
        max-width: 488px;
        height: auto;
        margin: auto;
        display: block;
        padding-top: 67px;
    }

    .row-right {
        padding-top: 25px;
    }

    .wrapper .parent-tab .icon-container {
        width: 80px;
        height: 80px;
        margin-right: 15px;
    }

    .wrapper label span {
        margin-top:10px;
    }

    .wrapper .parent-tab {
        padding-bottom: 10px;
    }

    .about #about-up-heading{
        padding-left: 100px;
    }
    
    .wrapper .parent-tab .content {
        font-size: 16px;
        padding-left: 110px;
    }

    .parent-tab .content p {
        padding: 15px 20px;
        font-size: 16px;
    }
}

@media (max-width: 1200px)
and (orientation: landscape){
    .about {
        /* position: relative;
        background: url('../img/Bg_About.png') no-repeat right;
        background-attachment: local;
        width: 100%; */
        height: 700px;
    }
    
    .carousel-item img{
        width: 400px;
        height: auto;
        margin: auto;
        display: block;
    }

    #about-wrapper{
        max-width: 390px;
        height: auto;
        margin: auto;
        display: block;
        padding-top: 55px;
    }

    .row-right {
        padding-top: 50px;
    }

    .row-left{
        padding-top: 70px;
    }

    .wrapper .parent-tab .icon-container {
        width: 65px;
        height: 65px;
        margin-right: 10px;
    }

    .wrapper label span {
        margin-top:10px;
        font-size: 23px;
    }

    .wrapper .parent-tab {
        padding-bottom: 10px;
    }

    .about #about-up-heading{
        padding-left: 80px;
    }
    
    .about #about-heading{
        padding-left: 80px;
    }
    
    .wrapper .parent-tab .content {
        font-size: 14px;
        padding-left: 80px;
    }

    .parent-tab .content p {
        padding: 5px 20px;
        font-size: 14px;
    }
}

@media (max-width: 1000px)
and (orientation: landscape){
    .carousel-item img{
        width: 275px;
        height: auto;
        margin: auto;
        display: block;
    }
    .about-parent{
        top: 0%;
    }

    .about {
        /* position: relative;
        background: url('../img/Bg_About.png') no-repeat right;
        background-attachment: local;
        width: 100%; */
        height: 500px;
    }
    
    #about-wrapper{
        max-width: 270px;
        padding-top: 37px;
    }

    .row-right {
        width: 60%;
        padding-top: 40px;
    }

    .row-left{
        width: 40%;
        padding-top: 80px;
    }

    .wrapper .parent-tab .icon-container {
        width: 40px;
        height: 40px;
        margin-right: 8px;
    }

    .wrapper label span {
        margin-top: 5px;
        font-size: 18px;
    }

    .wrapper .parent-tab {
        padding-bottom: 10px;
    }

    .about #about-up-heading{
        padding-left: 50px;
    }
    
    .about #about-heading{
        padding-left: 50px;
    }
    
    .wrapper .parent-tab .content {
        font-size: 13px;
        padding-left: 45px;
    }

    .parent-tab .content p {
        padding: 4px 20px;
        font-size: 13px;
    }
}

@media (max-width: 700px)
and (orientation: landscape){
    .carousel-item img{
        width: 240px;
        height: auto;
        margin: auto;
        display: block;
    }
    .about-parent{
        top: 0%;
    }

    .about {
        /* position: relative;
        background: url('../img/Bg_About.png') no-repeat right;
        background-attachment: local;
        width: 100%; */
        height: 400px;
    }
    
    #about-wrapper{
        max-width: 235px;
        padding-top: 30px;
    }

    .row-right {
        width: 60%;
        padding-top: 40px;
    }

    .row-left{
        width: 40%;
        padding-top: 75px;
    }

    .wrapper .parent-tab .icon-container {
        width: 40px;
        height: 40px;
        margin-right: 8px;
    }

    .wrapper label span {
        margin-top: 10px;
        font-size: 15px;
    }

    .wrapper .parent-tab {
        padding-bottom: 5px;
    }

    .about #about-up-heading{
        padding-left: 50px;
    }
    
    .about #about-heading{
        padding-left: 50px;
    }
    
    .wrapper .parent-tab .content {
        font-size: 12px;
        padding-left: 40px;
    }

    .parent-tab .content p {
        padding: 3px 20px;
        font-size: 13px;
        margin-bottom: 0;
    }
}

@media (max-width: 1200px)
and (orientation: portrait){

    .about{
        height: 1300px;
    }

    .carousel-item img{
        width: 500px;
        height: auto;
        margin: auto;
        display: block;
    }
    
    #about-wrapper{
        max-width: 488px;
        padding-top: 75px;
    }

    .about #about-heading{
        text-align: center;
        padding-left: 0;
        margin-bottom: 30px;
    }

   .about #about-up-heading{
        padding-left: 0;
        text-align: center;
        margin-bottom: -10px;
    }

    .about-parent{
        flex-direction: column;
        top: 2%;
    }

    .row-left{
        order: 2;
        display: block;
        margin: auto;
        width: 100%;
        margin-bottom: 50px;
    }

    .row-right{
        display: block;
        margin: auto;
        order: 1;
        width: 100%;
        padding-top: 30px;
    }

    .wrapper{
        display: flex;
        flex-direction: row;
        width: 100%;
        justify-content: center;
    }

    .wrapper span{
        display: none;
    }

    .wrapper .parent-tab .content{
       padding: 0%;
       position: absolute;
       top: 100%;
       width: 70%;
       left: 50%;
       transform: translateX(-50%);
       font-size: 25px;
    }
 
     .parent-tab .content p{
         font-size: 25px;
         text-align: center;
         padding-top: 0px;
         padding-bottom: 0px;
     }

    .wrapper .parent-tab label{
        padding: 0;
    }

    .wrapper .parent-tab .icon-container{
        margin: 0 10px;
        width: 100px;
        height: 100px;
    }
}

@media (max-width: 1000px)
and (orientation: portrait){
    .about{
        height: 1200px;
    }

    .carousel-item img{
        width: 400px;
    }

    #about-wrapper{
        max-width: 390px;
        padding-top: 59px;
    }

    .about-parent{
        flex-direction: column;
        top: 2%;
    }

    .row-left{
        order: 2;
        display: block;
        margin: auto;
        width: 100%;
        margin-bottom: 50px;
    }

    .row-right{
        display: block;
        margin: auto;
        order: 1;
        width: 100%;
        padding-top: 30px;
    }

    .wrapper{
        display: flex;
        flex-direction: row;
        width: 100%;
        justify-content: center;
    }

    .wrapper span{
        display: none;
    }

    .wrapper .parent-tab .content{
       padding: 0%;
       position: absolute;
       top: 100%;
       width: 70%;
       left: 50%;
       transform: translateX(-50%);
       font-size: 22px;
    }

    .parent-tab .content p{
        font-size: 22px;
    }

    .wrapper .parent-tab label{
        padding: 0;
    }

    .wrapper .parent-tab .icon-container{
        margin: 0 10px;
        width: 100px;
        height: 100px;
    }
}


@media (max-width: 800px)
and (orientation: portrait){
    .about{
        height: 1200px;
    }

    .carousel-item img{
        width: 400px;
    }

    #about-wrapper{
        max-width: 390px;
        padding-top: 59px;
    }

    .about-parent{
        flex-direction: column;
        top: 2%;
    }

    .row-left{
        order: 2;
        display: block;
        margin: auto;
        width: 100%;
        margin-bottom: 50px;
    }

    .row-right{
        display: block;
        margin: auto;
        order: 1;
        width: 100%;
        padding-top: 30px;
    }

    .wrapper{
        display: flex;
        flex-direction: row;
        width: 100%;
        justify-content: center;
    }

    .wrapper span{
        display: none;
    }

    .wrapper .parent-tab .content{
       padding: 0%;
       position: absolute;
       top: 100%;
       width: 70%;
       left: 50%;
       transform: translateX(-50%);
       font-size: 22px;
    }

    .parent-tab .content p{
        font-size: 22px;
    }

    .wrapper .parent-tab label{
        padding: 0;
    }

    .wrapper .parent-tab .icon-container{
        margin: 0 10px;
        width: 100px;
        height: 100px;
    }
}


@media (max-width: 600px)
and (orientation: portrait){
    .about{
        height: 1000px;
    }

    .carousel-item img{
        width: 350px;
    }

    #about-wrapper{
        max-width: 340px;
        padding-top: 52.5px;
    }

    .about-parent{
        flex-direction: column;
        top: 2%;
    }

    .row-left{
        order: 2;
        display: block;
        margin: auto;
        width: 100%;
        margin-bottom: 50px;
    }

    .row-right{
        display: block;
        margin: auto;
        order: 1;
        width: 100%;
        padding-top: 30px;
    }

    .wrapper{
        display: flex;
        flex-direction: row;
        width: 100%;
        justify-content: center;
    }

    .wrapper span{
        display: none;
    }

    .wrapper .parent-tab .content{
       left: 50%;
       transform: translateX(-50%);
       font-size: 15px;
       width: 80%;
    }

    .parent-tab .content p{
        font-size: 15px;
    }

    .wrapper .parent-tab label{
        padding: 0;
    }

    .wrapper .parent-tab .icon-container{
        margin: 0 10px;
        width: 70px;
        height: 70px;
    }
}


@media (max-width: 400px)
and (orientation: portrait){
    .about{
        height: 900px;
    }

    .carousel-item img{
        width: 275px;
    }
    
    #about-wrapper{
        max-width: 270px;
        padding-top: 38.5px;
    }

    .about-parent{
        flex-direction: column;
        top: 2%;
    }

    .row-left{
        order: 2;
        display: block;
        margin: auto;
        width: 100%;
        margin-bottom: 50px;
    }

    .row-right{
        display: block;
        margin: auto;
        order: 1;
        width: 100%;
        padding-top: 30px;
    }

    .wrapper{
        display: flex;
        flex-direction: row;
        width: 100%;
        justify-content: center;
    }

    .wrapper span{
        display: none;
    }

    .wrapper .parent-tab .content{
       padding: 0%;
       position: absolute;
       top: 100%;
       width: 90%;
       left: 50%;
       transform: translateX(-50%);
       font-size: 14px;
    }

    .parent-tab .content p{
        font-size: 14px;
    }

    .wrapper .parent-tab label{
        padding: 0;
    }

    .wrapper .parent-tab .icon-container{
        margin: 0 10px;
        width: 60px;
        height: 60px;
    }
}


@media (max-width: 300px)
and (orientation: portrait){
    .about{
        height: 900px;
    }

    .carousel-item img{
        width: 240px;
    }
    
    #about-wrapper{
        max-width: 235px;
        padding-top: 30px;
    }

    .about-parent{
        flex-direction: column;
        top: 2%;
    }

    .row-left{
        order: 2;
        display: block;
        margin: auto;
        width: 100%;
        margin-bottom: 50px;
    }

    .row-right{
        display: block;
        margin: auto;
        order: 1;
        width: 100%;
        padding-top: 30px;
    }

    .wrapper{
        display: flex;
        flex-direction: row;
        width: 100%;
        justify-content: center;
    }

    .wrapper span{
        display: none;
    }

    .wrapper .parent-tab .content{
       padding: 0%;
       position: absolute;
       top: 100%;
       width: 95%;
       left: 50%;
       transform: translateX(-50%);
       font-size: 14px;
    }

    .parent-tab .content p{
        font-size: 14px;
    }

    .wrapper .parent-tab label{
        padding: 0;
    }

    .wrapper .parent-tab .icon-container{
        margin: 0 10px;
        width: 45px;
        height: 45px;
    }
}