.about {
    position: relative;
    background: url('../img/Bg_About.png') no-repeat right;
    background-attachment: local;
    width: 100%;
    height: 1000px;
    background-size: cover;
}

.about #about-up-heading{
    color: gold;
    padding-bottom: 0px;
    margin-bottom: -20px;
    padding-left: 45px;
}

.about #about-heading{
    font-size: 50px;
    font-weight: 700;
    padding-left: 45px;
    color: white;
}

.about-parent {
    display: flex;
    flex-direction: row;
    position: absolute;
    top: 20%;
    width: 100%;
}

.row-left {
    width: 50%;
    z-index: 1;
}

.row-right {
    width: 50%;
    z-index: 1;
}

.wrapper {
    
    padding: 0 20px;
}

.wrapper .parent-tab {
    margin-bottom: 8px;
    border-radius: 3px;
    /* box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.18); */
}

.wrapper .parent-tab label {
    padding: 10px 20px;
    display: flex;
    align-items: left;
    cursor: pointer;
    border-radius: 3px;
    position: relative;
    z-index: 2;
    transition: all 0.3s ease;
}

.wrapper .parent-tab .icon-container {
    width: 100px;
    height: 100px;
    margin-right: 20px;
}

.wrapper .parent-tab #tab-icon-2 {
    background: url('../img/Icon_Batleground.png');
    background-size: cover;
}

.wrapper .parent-tab #tab-icon-3 {
    background: url('../img/Icon_Play.png');
    background-size: cover;
}

.wrapper .parent-tab #tab-icon-4 {
    background: url('../img/Icon_Tech.png');
    background-size: cover;
}

.wrapper .parent-tab #tab-icon-5 {
    background: url('../img/Icon_Immutable.png');
    background-size: cover;
}
.wrapper .parent-tab #tab-icon-2:hover {
    background: url('../img/Icon_Batleground_On.png');
    background-size: cover;
}

.wrapper .parent-tab #tab-icon-3:hover {
    background: url('../img/Icon_Play_On.png');
    background-size: cover;
}

.wrapper .parent-tab #tab-icon-4:hover {
    background: url('../img/Icon_Tech_On.png');
    background-size: cover;
}

.wrapper .parent-tab #tab-icon-5:hover {
    background: url('../img/Icon_Immutable_On.png');
    background-size: cover;
}

.wrapper .parent-tab label :hover {
    color: gold;
}

.parent-tab input:checked~label {
    border-radius: 3px 3px 0 0;
}

.wrapper label span {
    color: #fff;
    font-size: 35px;
    font-weight: 500;
    margin-top:20px;
}

.wrapper .parent-tab .content {
    max-height: 0px;
    overflow: hidden;
    background: transparent;
    border-radius: 0 0 3px 3px;
    font-size: 20px;
    color: white;
    padding-left: 55px;
    /* transition: all 0.4s ease; */
}

.parent-tab input:checked~.content {
    max-height: 100vh;
}

.parent-tab .content p {
    padding: 15px 20px;
    font-size: 16px;
}

input[type="radio"],
input[type="checkbox"] {
    display: none;
}

.carousel-item {
    transition: transform 0.5s ease-in-out;
}

.carousel-fade .active.carousel-item-start,
.carousel-fade .active.carousel-item-end {
    transition: opacity 0.5s ease-out;
}

.carousel-item img{
    width: 718px;
    height: auto;
    margin: auto;
    display: block;
}

#about-wrapper{
    max-width: 718px;
    height: auto;
    margin: auto;
    display: block;
}

#about-video{
    height: auto;
    vertical-align: middle;
    width: 100%;
}

@media (max-width: 600px)
and (orientation: portrait){

    #about-heading{
        text-align: center;
        font-size: 25px;
    }
    .about-parent{
        flex-direction: column;
        top: 15%;
    }

    .row-left{
        order: 2;
        display: block;
        margin: auto;
        width: 100%;
    }

    .row-right{
        display: block;
        margin: auto;
        order: 1;
        width: 100%;
        padding-top: 30px;
    }

    .wrapper{
        display: flex;
        flex-direction: row;
        width: 100%;
        justify-content: center;
    }

    .wrapper span{
        display: none;
    }

    .wrapper .parent-tab .content{
       padding: 0%;
       position: absolute;
       top: 90%;
       width: 400px;
       text-align: center;
       left: 50%;
       transform: translateX(-50%);
    }

    .wrapper .parent-tab label{
        padding: 0;
    }

    .wrapper .parent-tab .icon-container{
        margin: 0 10px;
        width: 50px;
        height: 50px;
    }
}