.team{
    background: url('../img/Icons/Team/Team_Bg.png') no-repeat;
    background-size: cover;
    color:white;
    text-align: center;
    text-shadow: 0px -2px 0px rgba(0,0,0,1);
}

#team-section{
    display: flex;
    flex-direction: row;
}

#team-section #team-md, #team-section #team-core, #team-section #team-advisors{
    width: calc(100%/3);
}

.team .team-heading{
    font-size: 35px;
}

.team #sub-heading{
    font-size: 25px;
    padding-bottom: 30px;
    width: 80%;
    display: block;
    margin: auto;
}

.team .first-heading{
    padding-top: 60px;
}

#team-section #team-md img{
    width: 150px;
    height: auto;
    padding-bottom: 20px;
}

#team-section #team-md p{
    font-size: 20px;
}

#team-section #team-md span{
    color: gold;
    font-size: 25px;
}

#team-section #team-core, #team-section #team-advisors, #team-advisors #advisor-core{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

#team-section #team-core .core-card{
    width: 200px;
}

#team-section #team-core .core-card p{
    display: block;
    margin: auto;
    padding-top: 5px;
    padding-bottom: 5px;
    line-height: 23px;
}

#team-section #team-core .core-card .core-position, #team-section #team-core .core-card .core-name, #team-advisors #advisor-core .advisor-card .advisor-name{
    font-size: 18px;
}

#team-section #team-core .core-card .core-name{
    padding-bottom: 0px;
}

#team-advisors #advisor-core .advisor-card{
    width: 150px;
    padding-top: 40px;
}

.mobile-separator{
    display: none;
}

#partners-section{
    width: 90%;
    display: block;
    margin: auto;
    justify-content: space-around;
    flex-direction: row;
    padding-bottom: 30px;
}

#partners-section img{
    width: auto;
    height: 70px;
    padding-left: 80px;
    margin-bottom: 50px;
    padding-right: 80px;
}

@media (max-width: 1600px)
and (orientation: landscape) {

    #team-section #team-md img{
        width: 140px;
    }

    #team-section #team-md p{
        font-size: 18px;
    }
    
    #team-section #team-md span{
        color: gold;
        font-size: 22px;
    }

    #team-core .core-card .core-img{
        width: 140px;
        height: auto;
    }

    #team-advisors #advisor-core .advisor-card{
        width: 140px;
        padding-top: 30px;
    }

    #partners-section img{
        width: auto;
        height: 60px;
        padding-left: 60px;
        margin-bottom: 50px;
        padding-right: 60px;
    }
}

@media (max-width: 1300px)
and (orientation: landscape) {

    #team-section #team-md img{
        width: 110px;
    }

    #team-section #team-md p{
        font-size: 16px;
    }
    
    #team-section #team-md span{
        color: gold;
        font-size: 19px;
    }
    
    #team-core .core-card .core-img{
        width: 100px;
        height: auto;
    }

    #team-section #team-core .core-card {
        width: 120px;
    }

    #team-section #team-core .core-card p{
        padding-top: 5px;
        padding-bottom: 5px;
        line-height: 18px;
    }
    
    #team-section #team-core .core-card .core-position, #team-section #team-core .core-card .core-name, #team-advisors #advisor-core .advisor-card .advisor-name{
        font-size: 18px;
    }

    #team-advisors #advisor-core .advisor-card{
        width: 100px;
        padding-top: 23px;
    }

    #team-advisors #advisor-core .advisor-card img{
        width: 90px;
        height: auto;
    }

    #partners-section img{
        width: auto;
        height: 40px;
        padding-left: 40px;
        margin-bottom: 50px;
        padding-right: 40px;
    }
}

@media (max-width: 1050px)
and (orientation: landscape) {

    .team #sub-heading{
        font-size: 22px;
    }

    #team-section #team-md img{
        width: 90px;
    }

    #team-section #team-md p{
        font-size: 16px;
    }
    
    #team-section #team-md span{
        color: gold;
        font-size: 19px;
    }
    
    #team-core .core-card .core-img{
        width: 70px;
        height: auto;
    }

    #team-section #team-core .core-card{
        width: 90px;
    }

    #team-section #team-core .core-card p{
        padding-top: 5px;
        padding-bottom: 5px;
        line-height: 18px;
        font-size: 14px;
    }
    
    #team-section #team-core .core-card .core-position, #team-section #team-core .core-card .core-name, #team-advisors #advisor-core .advisor-card .advisor-name{
        font-size: 18px;
    }

    #team-advisors #advisor-core .advisor-card{
        width: 90px;
        padding-top: 10px;
    }

    #team-advisors #advisor-core .advisor-card img{
        width: 60px;
        height: auto;
    }

    #partners-section img{
        width: auto;
        height: 50px;
        padding-left: 50px;
        margin-bottom: 50px;
        padding-right: 50px;
    }
}

@media (max-width: 900px)
and (orientation: landscape) {

    .mobile-separator{
        display: block;
        width: 60%;
        height: auto;
        margin: auto;
        padding-bottom: 10px;
        padding-top: 10px;
    }

    .team-separator{
        padding-bottom: 10px;
    }

    #team-section{
        flex-direction: column;
    }
    #team-section #team-md{
        width: 100%;
    }

    #team-section #team-core{
        width: 100%;
    }
    #team-section #team-advisors, #team-section #advisor-core{
        width: 100%;
    }

    #team-section #team-core .core-card{
        padding-top: 5px;
        padding-bottom: 5px;
        width: calc(100%/3);
    }

    #team-advisors #advisor-core .advisor-card{
        padding-top: 10px;
        width: calc(100%/3);
    }

    #partners-section img{
        height: 30px;
        width: auto;
        padding-right: 10px;
        padding-left: 10px;
    }

}

@media (max-width: 1200px)
and (orientation: portrait) {
    .team{
        background: url('../img/Icons/Team/Team_Bg_M.png') no-repeat;
        background-size: cover;
    }

    .mobile-separator{
        display: block;
        width: 60%;
        height: auto;
        margin: auto;
        padding-bottom: 10px;
        padding-top: 10px;
    }

    .team-separator{
        padding-bottom: 10px;
    }

    #team-section{
        flex-direction: column;
        width: 90%;
        margin: auto;
    }
    #team-section #team-md{
        width: 100%;
    }

    #team-section #team-core{
        width: 100%;
    }
    #team-section #team-advisors, #team-section #advisor-core{
        width: 100%;
    }

    #team-section #team-core .core-card{
        padding-top: 5px;
        padding-bottom: 5px;
        width: calc(100%/3);
    }

    #team-advisors #advisor-core .advisor-card{
        padding-top: 10px;
        width: calc(100%/3);
    }

    #team-section #team-core .core-card .core-position, #team-section #team-core .core-card .core-name{
        font-size: 20px;
    }
    #team-section #team-core .core-card .core-description{
        font-size: 18px;
    }

    #partners-section img{
        height: 40px;
        width: auto;
        padding-right: 10px;
        padding-left: 10px;
    }

    .team-separator{
        width: 50%;
        height: auto;
    }
}

@media (max-width: 500px)
and (orientation: portrait) {

    .team #sub-heading{
        font-size: 18px;
    }

    #team-section #team-md img{
        width: 40%;
    }

    .mobile-separator{
        display: block;
        width: 80%;
        height: auto;
        margin: auto;
        padding-bottom: 10px;
        padding-top: 10px;
    }

    .team-separator{
        padding-bottom: 10px;
        width: 80%;
    }

    #team-section #team-core .core-card p{
        width: 95%;
    }
    #team-section #team-core .core-card img{
        width: 80px;
        height: auto;
    }

    #team-advisors #advisor-core .advisor-card img{
        width: 70px;
        height: auto;
    }
}